.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: .4;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 630px;
  height: 52px;
  border-radius: 8px;
  border: 1px rgba(33, 33, 33, 0.3) solid;
  padding: 4px 12px;
  gap: 10px;
  font-weight: 500;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
}

.modal__submit-button {
  background-color: #212121;
  color: #fcf5e5;
  cursor: pointer;
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  border: none;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }
  .modal__submit-button{
    max-width: none;
  }
  .modal__input{
    max-width: 276px;
    padding-left: 12px;
  }
  .modal__input::placeholder {
    margin-left: 12px;
  }
}
