.page{
    background-color: #FCF5E5;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.header{
    font-size: 24px;
    font-weight: 500;
    color: #000000;width: 1440;
    height: 46;
    justify-content: space-between;
    angle: 0 deg;
    opacity: 1;
    border-bottom-width: 1px;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-left: 80px;
    box-sizing: border-box;
    background-color: #ffffff;
}